@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

img {
	width: 100%;
}

body {
	background: rgb(5, 4, 29);
	color: rgb(28, 112, 185);
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

.logo {
	font-size: 30px;
	color: rgb(21, 102, 173);
	text-decoration: none;
	font-weight: 800;
}

.logo::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgb(11, 12, 12);
	animation: showRight 1s ease forwards;
	animation-delay: 0.4s;
}

.navbar a {
	font-size: 25px;
	color: rgb(12, 112, 199);
	text-decoration: none;
	font-weight: 600;
	margin-left: 35px;
	transition: 0.3s;
}

.navbar a:hover {
	color: rgb(13, 65, 209);
}

.home {
	/* height: 100vh; */
	display: flex;
	align-items: center;
	padding: 5em 0;
}

.home-content {
	background: transparent;
	max-width: 600px;
}

.home-content h1 {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.5;
}

.home-content h2 {
	font-size: 30px;
	font-weight: 500;
	color: darkturquoise;
}

.home-content p {
	font-size: 20px;
	margin: 20px 0px 40px;
}

.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 350px;
	height: 60px;
	background: transparent;
}

.hobbies,
.travel,
.contact,
.home {
	max-width: 1200px;
	margin: 0 auto;
}

.hobbies h2 {
	font-size: 40px;
	font-weight: 800;
	color: rgb(12, 122, 199);
	line-height: 1.5;
}

.hobbies p {
	text-decoration: none;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: aqua;
	margin: 20px 0px 40px;
}

.hobbies li {
	font-size: 20px;
	font-weight: 500;
}

.destination h3 {
	font-size: 40px;
	font-weight: 800;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	line-height: 1.5;
}

.destination p {
	font-size: 25px;
	font-weight: 800;
	color: aquamarine;
	font-style: normal;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.destination img {
	inline-size: 100%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
	max-width: 400px;
}

.travel li {
	font-size: 20px;
}

.contact {
	padding: 3em 0;
}

.btn-box {
	display: flex;
	gap: 2em;
}

.btn-box a {
	text-decoration: none;
	border: 1px solid white;
	color: white;
	padding: 0.7em 2em;
	transition: 0.5s;
	position: relative;
    z-index: 1;
}

.btn-box a::after {
    content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(39, 39, 133);
    z-index: -1;
    

	transform: scaleX(0);
	transform-origin: left;
	transition: transform 350ms ease-in;
}

.btn-box a:hover::after {
    transform: scaleX(1);
}

/* .btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: blue;
	border: 2px solid blue;
	border-radius: 8px;
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: 800;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}

.btn-box a:hover {
	color: deepskyblue;
}

.btn-box a:nth-child(1):hover {
	color: black;
}

.btn-box a:nth-child(1) {
	background-color: transparent;
	color: aqua;
}

.btn-box a:nth-child(1)::before {
	background: rgb(25, 112, 241);
}

.btn-box a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: black;
	z-index: -1;
	transition: 0.5s;
}

.btn-box {
	margin-top: 30px;
}

.btn-box a:hover::before {
	width: 100%;
} */

/* .home-imgHover{ */
/* position: absolute; */
/* top: 0; */
/* right: 200px; */
/* width: 1000px; */
/* height: 900%; */
/* background: transparent; */
/* transition: 3s; */
/* } */

/* .home-imgHover:hover{ */
/* background: rgb(230, 188, 73); */
/* opacity: .8; */
/* } */

/* KEYFRAMES ANIMATION */

@keyframes showRight {
	100% {
		width: 0;
	}
}

.about {
	width: 500px;
	height: 200px;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	top: 70px;
	right: 20px;
	display: none;
}
#about-toggle {
	display: none;
}
#about-toggle:checked + .about {
	display: block;
}
